/* Entire website formatting */

/* Nav */
#nav {
  position: sticky;
  top: .5vh;
  width: 100%;
  z-index: 1;
}
/* Section End */

/* Recommendations Section */
.mainbar {
  position: relative;
  z-index: 0;
  background: rgb(177, 176, 176);
  display: block;
}

#moreInfoBtn{
	color: rgb(45, 98, 158);
  	font-size: 2.5vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	background-color: rgb(218, 216, 216);
	border-width: .3vh;
}

.recInput{
	background-color:rgb(218, 216, 216);
	width: 95%;
	margin-left: 3vh;
	min-height: 12vh;
	border-radius: 2vh;
}

.filter{
	position: relative;
	color: rgb(45, 98, 158);
	text-align: center;
	font-size: 4vh;
}

.filterContent {
	text-align: left;
}

.filterCol1 {
	margin-top: 5vh;
	padding-left: 5vh;
	float: left;
	width: 30%;
	border-right: .2vh solid;
	border-color: black;
}
.filterCol2 {
	margin-top: 5vh;
	float: left;
	width: 70%;
	padding-left: 10vh;
}

.button3 {
	background-color: #b1891c;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 2vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	width: 50vh;
    padding: 2vh;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	margin-left: 72vh;
	margin-right: 75vh;
}

.button4 {
	background-color: #b1891c;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 2vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	width: 50vh;
    padding: 2vh;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
}

#loadMoreBooks {
	background-color: #357ebd;
	border-color: #357ebd;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 3vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	width: 95%;
    padding: 2vh;
	margin-top: 5vh;
	margin-right: 4vh;
}

#loadMoreBooks1 {
	background-color: #357ebd;
	border-color: #357ebd;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 3vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	width: 95%;
    padding: 2vh;
	margin-top: 5vh;
	margin-right: 4vh;
}

.input2 {
	width: 15vh;
}

.openFilter {
	position: absolute;
	left: 50%;
	bottom: 7%;
	display: block;
	text-align: center;
	font-size: 5vh;
	z-index: 1;
	width: 5vh;
	height: 5vh;
	border-bottom: .35vh solid black;
	border-right: .35vh solid black;
	margin-bottom: 2vh;
	transform: translate(-50%, 0%) rotate(45deg);
}

.closeFilter {
	position: absolute;
	left: 48.75%;
	display: block;
	text-align: center;
	font-size: 5vh;
	z-index: 1;
	width: 5vh;
	height: 5vh;
	border-bottom: .35vh solid black;
	border-right: .35vh solid black;
	margin-bottom: 2vh;
	transform: translate(-50%, 0%) rotate(225deg);
}
/* Section End */

/* Book Component */
.bookOutline {
	background-color: rgb(231, 231, 231);
	width: 44vh;
	height: 75vh;
	float: left;
	text-align: center;
	padding: auto;
	margin: 2.5vh;
	border-radius: 5vh;
}

.book {
	width: 44vh;
	height: 67.5vh;
	float: left;
	text-align: center;
	padding: auto;
	border-radius: 5vh;
}

.bookPic {
	width: 35vh;
	height: 60vh;
}

.float-picture {
	text-align: center;
  	padding-left: 10%;
	padding-right: 10%;
	width: 34vh;
	padding-bottom: 10%;
  	background-color: rgb(218, 216, 216);
} 

.BookTitle {
	color: rgb(45, 98, 158);
  	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
/* Section End */

/* clickable view */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10vh;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
  }
  
  .modal-content {
	background-color: #fefefe;
	z-index: 2;
	margin: auto;
	padding: 4vh;
	border: .35vh solid rgb(219, 219, 219);
	border-radius: 3.5vh;
	width: 80%;
	height:90%;
	cursor: default ;
  }
  
  .close {
	color: #000000;
	float: right;
	font-size: 5vh;
	font-weight: bold;
	padding-bottom: 2vh;
	padding-right: 2vh;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  /* Section End */

  

/* Login Page Handler */
#login {
  display: block;
}

#loginContent {
  display: none;
}
/* Section End */

/* Animations */
.scroll-down {
	position: absolute;
	left: 49%;
	bottom: 7%;
	display: block;
	text-align: center;
	font-size: 6vh;
	z-index: 1;
	text-decoration: none;
	text-shadow: 0;
  width: 1em;
  height: 1em;
  border-bottom: .2vh solid #FFC857;
  border-right: .2vh solid #FFC857;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}

#downBtn {
  margin-top: 15vh;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY();
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* Section End */

/* Login Page */
.login1 {
	border-radius: 5vh;
	margin: auto;
	width: 70vh;
	height: 52vh;
	background-color: rgb(231, 231, 231);
}

.login2 {
	border-radius: 5vh;
	margin: auto;
	width: 70vh;
	height: 82vh;
	background-color: rgb(231, 231, 231);
}

input {
	background: rgba(0,0,0,0.2);
	border: none;
	margin: auto;
	outline: none;
	padding: 1.75vh;
	font-size: 2vh;
	color: #000;
	border: .3vh solid rgba(0,0,0,0.3);
	border-radius: 1vh;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	width: 50vh;
  }

.submitBtn {
	width: "10vh";
	background-color: #428bca;
	border-color: #357ebd;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 2vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
}

.returnBtn {
	width: "10vh";
	background-color: #000000;
    border: .2vh solid transparent;
    white-space: nowrap;
	font-size: 2vh;
	color: white; 
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	margin-top: 2.5vh;
}

.loginHeader {
	padding-top: 5vh;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }
/* Section End */

/* Librarians Access */
.Content {
	border-radius: 5vh;
	margin: auto;
	height: auto;
	background-color: rgb(231, 231, 231);
}

.button {
	background-color: #8d0909;
	border-color: #357ebd;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 3vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	width: 170vh;
    padding: 2vh;
    margin-top: 5vh;
}

.button1 {
	background-color: #428bca;
	border-color: #357ebd;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 2vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	width: 82.5vh;
    padding: 2vh;
    margin: 2.5vh;
}

.button2 {
	background-color: #b1891c;
    border: .2vh solid transparent;
    white-space: nowrap;
    font-size: 2vh;
	border-radius: .5vh;
    font-weight: normal;
    text-align: center;
	vertical-align: middle;
	width: 70vh;
    padding: 2vh;
    margin-top: 2.5vh;
}

.col1 {
	float: left;
	width: 50%;
	border-right: .2vh solid;
	border-color: black;
}

.col2 {
	float: left;
	width: 50%;
}

.header1 {
	padding-top: 2vh;
}

.addBookInputs {
	background: rgba(0,0,0,0.2);
	margin: auto;
	float: right;
	padding: 1.75vh;
	font-size: 2vh;
	color: #000;
	border: .3vh solid rgba(0,0,0,0.3);
	border-radius: 1vh;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	width: 70vh;
}

.addBookInputs2 {
	background: rgba(0,0,0,0.2);
	margin: auto;
	float: left;
	padding: 1.75vh;
	font-size: 2vh;
	color: #000;
	border: .3vh solid rgba(0,0,0,0.3);
	border-radius: 1vh;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	width: 70vh;
}

.bookSummary {
	margin: auto;
	float: right;
	padding: 1.75vh;
	font-size: 2vh;
	color: #000;
	border: .3vh solid rgba(0,0,0,0.3);
	border-radius: 1vh;
	width: 70vh;
	height: 40vh;
}

label {
	vertical-align: center;
}

.previewImg {
	width: 70vh;
	border:1vh solid #021a40;
	margin-top: 2.5vh;
}
/* Section end */

/* CSS Document 2 */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.p{
	padding: 2em;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #888;;
	margin:0;
}
h2{
	font-size:34px;
	color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}
h6{
	font-size:16px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
}


/* Contact
---------------------------------*/
#contactInfo, #contactBox {
	white-space: nowrap;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#contact {
	border-radius: 2.5vh;
}

.main-section.contact{
	padding:90px 0 100px;
}

.contact-info-box{
	font-size:2.2vh;
	padding-bottom: .75vh;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}
.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: #7cc576;
    border:1px solid #7cc576;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/* Footer
---------------------------------*/

.footer{
	background:#0f2a59;
	padding:30px 0 5px;
}
.footer-logo{
	margin:15px auto 35px;
	width:76px;
}
.copyright, .credits{
	color:#ffffff;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a, .credits a{
	color:rgb(233, 229, 2);
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover, .credits a:hover {
	color:rgb(255, 255, 255);
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* ion Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}
